<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FairDAO">

	<!-- 박람회 정보 제공--> 
<select id="fairList" resultType="fair"  >
         SELECT FAIRNAME, FAIRADDR, TO_CHAR(FAIRSTART,'YYYY.MM.DD')AS FAIRSTART,TO_CHAR(FAIREND,'YYYY.MM.DD')AS FAIREND,FAIRURL,FAIRPOTO
         FROM FAIR
         ORDER BY FAIRCODE DESC
   </select> 
	

</mapper>