<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <!-- Alias 설정 -->
   <typeAliases>	<!-- 여기에 선언하고 안쓰면 오류남 -->
      <typeAlias alias="diary" type="com.javaclass.domain.DiaryVO" />       <!-- 일기&감정분류 -->
      <typeAlias alias="bucket" type="com.javaclass.domain.BucketVO" />     <!-- 버킷리스트 -->   
      <typeAlias alias="emo" type="com.javaclass.domain.EmoVO" />     <!-- 감정그래프 -->  
   </typeAliases>
</configuration>